<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 25 Jan 2017 11:59:01 GMT">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="@gureks, @geekSiddharth, @peey">
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>{{ event.name }} - Odyssey'17 | IIIT Delhi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/one-event.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="../static/img/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow-x: hidden">
    <div class="row" itemscope itemtype="http://schema.org/Event">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="../static/img/events/{{ event['event-id'] }}.jpg" class="cover" width="100%" height="auto">
                    <h1 itemprop="name">
                        {{ event.name }}
                    </h1>
                    <p class="tagline" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        Team Size: {{ event.teamSize }}
                        {% if event.entryFee != "" and event.entryFee != "0"%}
                        <br>
                            <spna itemprop="price" content="13.00">Entry Fee: {{ event.entryFee }}</spna>
                            <span itemprop="priceCurrency" content="INR"/>
                            <span itemprop="url" content="http://odyssey.iiitd.edu.in/register/{{ event['event-id'] }}">
                        {% endif %}
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-6">
                        <a class="btn btn-1f btn-1" itemprop="sameAs" href="{{ event.fbEventLink }}">Facebook</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-1f btn-1" itemprop="url" href="/register/{{ event['event-id'] }}">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    Description
                </div>
                <div class="card-text">
                    {{ event.description | safe }}
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
                    {{ event.rules | safe }}
                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contacts
                </div>
                <div class="card-text">
                    {{ event.contact | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>window.addEventListener("keyup", function (e) {
    if (e.keyCode == 27) history.back();
}, false);</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-90355797-1', 'auto');
    ga('send', 'pageview');
</script>
</html>
