<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 25 Jan 2017 11:59:01 GMT">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="@gureks, @geekSiddharth, @peey">
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="{{ event.name }} - Odyssey'17 | IIIT Delhi">
    <meta name="twitter:site" content="@IIITDOdyssey">
    <!--Open Graph-->
    <meta property="og:title" content="{{ event.name }} - Odyssey'17 | IIIT Delhi"/>
    <meta property="og:url" content="http://odyssey.iiitd.edu.in/events/{{ event['event-id'] }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ event.description }}"/>
    <meta property="og:image" content="http://odyssey.iiitd.edu.in/static/img/events/{{ event['event-id'] }}.jpg"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>{{ event.name }} - Odyssey'17 | IIIT Delhi</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/one-event.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="../static/img/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow-x: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="../static/img/events/{{ event['event-id'] }}.jpg" class="cover" width="100%"
                         height="auto">
                    <h1>
                        {{ event.name | safe}}
                    </h1>
                    <p class="tagline">
                        {% if event.teamSize != "" and event.teamSize != "0" %}
                            Team Size: {{ event.teamSize }}
                        {% endif %}
                        {% if event.entryFee != "" and event.entryFee != "0" and event.entryFee != " " %}
                            <br>
                            Entry Fee: {{ event.entryFee | safe}}
                        {% endif %}
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="{{ event.fbEventLink }}">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        {% if event['event-id'] == "mini-militia"%}
                        <a class="btn btn-1f btn-1" href="https://goo.gl/forms/0X6SjE2FjonxzRwh1">Register</a>
                        {% elif event['event-id'] == "pwned" %}
                        <a class="btn btn-1f btn-1" href="https://goo.gl/forms/gkjb1Wfbbw5xmLMl1">Register</a>
                        {% else %}
                        <a class="btn btn-1f btn-1" href="/register/{{ event['event-id'] }}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    Description
                </div>
                <div class="card-text">
                    {{ event.description | safe }}
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
                    {{ event.rules | safe }}
                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contacts
                </div>
                <div class="card-text">
                    {{ event.contact | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>window.addEventListener("keyup", function (e) {
    if (e.keyCode == 27) window.location = "http://odyssey.iiitd.edu.in/events/";;
}, false);</script>
<script type="application/ld+json">
			{
			"@context": "http://www.schema.org",
			"@type": "WebSite",
			"name": "Odyssey",
			"alternateName": "Odyssey IIIT D",
			"url": "http://odyssey.iiitd.edu.in/",
			 "keywords":"Odyssey, Odyssey IIIT D, Odyssey IIITD, Odyssey IIIT, Cultural fest of IIIT D, Cultral fest in Delhi",
			 "sameAs": [
				"https://www.facebook.com/odyssey.iiitd/",
				"https://plus.google.com/104900525075222914073",
				"https://twitter.com/IIITDOdyssey",
				"https://www.instagram.com/iiitdodyssey/",
				"https://www.youtube.com/channel/UCO-faubxbzjAqka5Po5IgmQ"
			],
			"description": "Odyssey is IIITD’s cultural festival that provides a platform for talent and competition in various fields. This year, with the theme of “Around the world in two days”, Odyssey will  will host several unique events in a wide array of categories, including Dance, Music, Theatre, and Digital Arts."
			}

</script>
<script type="application/ld+json">
			{
			"@context": "http://www.schema.org",
					"@type": "Event",
					"name": " {{ event.name }}",
					"@id": "http://odyssey.iiitd.edu.in/events/{{ event['event-id'] }}",
					"url": "http://odyssey.iiitd.edu.in/events/{{ event['event-id'] }}",
                    "image":"http://odyssey.iiitd.edu.in/static/img/events/{{ event['event-id'] }}.jpg",
					"sameAs": [
				"{{ event.fbEventLink }}"
			],
            "superEvent" : {
            "@type":"Festival",
            "name":"Odyssey",
            "@id":"http://odyssey.iiitd.edu.in/",
            "url":"http://odyssey.iiitd.edu.in/",
            "location": {
				"@type": "Place",
						"name": "IIIT D",
						"alternateName": "IIIT Delhi",
						"sameAs": "https://www.iiitd.ac.in/",
						"address": {
					"@type": "PostalAddress",
							"streetAddress": " Indraprastha Institute of Information Technology, Okhla Industrial Estate, Phase III, (Near Govindpuri Metro Station) New Delhi, India",
							"addressLocality": "New Delhi",
							"addressRegion": "Delhi",
							"postalCode": "110020",
							"addressCountry": "India"
				}
			},
             "startDate": "2017-03-24T08:00",
			"endDate": "2017-03-25T23:59"
            },
			  "startDate": "2017-03-24T08:00",
			"endDate": "2017-03-25T23:59",
					"description": " {{ event.description | safe }}",
					"location": {
				"@type": "Place",
						"name": "IIIT D",
						"alternateName": "IIIT Delhi",
						"sameAs": "https://www.iiitd.ac.in/",
						"address": {
					"@type": "PostalAddress",
							"streetAddress": " Indraprastha Institute of Information Technology, Okhla Industrial Estate, Phase III, (Near Govindpuri Metro Station) New Delhi, India",
							"addressLocality": "New Delhi",
							"addressRegion": "Delhi",
							"postalCode": "110020",
							"addressCountry": "India"
				}
			},
			"typicalAgeRange": "15-30",
					"offers": {
				"@type": "Offer",
						"description": "Event Ticket",
                        "priceCurrency": "INR",
                        "availability": "http://schema.org/LimitedAvailability",
						"url": "http://odyssey.iiitd.edu.in/register/{{ event['event-id'] }}",
						"price": " {{ event.entryFee }}"
			}
			}

</script>
</html>
