<!DOCTYPE html>
<html lang="en">
<head>
    <title> Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/one-event.css" rel="stylesheet">
</head>
<body>
<div class="close">
    <img src="../static/img/close.png" height="60px" width="60px" onclick="history.back()">
</div>
<div class="container-fluid" style="width: 100%; overflow-x: hidden">
    <div class="row">
        <div class="col-md-4 side-bar middle-parent">
            <div class="content middle">
                <div class="heading">
                    <h1>
                        {{ event.name }}
                    </h1>
                    <br>
                    <p class="tagline">
                        {{ event.description }}
                    </p>
                </div>
                <!--<div class="poster">-->
                <!--<img src="img/events/sumo-wrestling.jpg" width="100%" class="poster-img">-->
                <!--</div>-->
                <div class="side-bottom-bar row">
                    <div class="col-md-6">
                        <a class="btn btn-1f btn-1">Js</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-1f btn-1">Js</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
                        {{ event.rules }}
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Description
                </div>
                <div class="card-text">
                        {{ event.description }}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>indow.addEventListener("keyup", function (e) {
    if (e.keyCode == 27) history.back();
}, false);</script>
</html>