<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
        <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 25 Jan 2017 11:59:01 GMT">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="@gureks, @geekSiddharth, @peey">
        <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
        <title>Events - Odyssey'17 | IIIT Delhi</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/events.css') }}">
    </head>
    <body style="width: 100%">
    {#        <div class="back">#}
    {#            <a href="{{ url_for('index') }}">#}
    {#            <img src="{{ url_for('static',filename='img/left-arrow.png') }}" height="40px" width="auto">#}
    {#            </a>#}
    {#        </div>#}
        <div class="home">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static',filename='img/close.png') }}" height="40px" width="40px">
            </a>
        </div>
        <header class="middle-parent header" style="width: 100%">
            <div class="middle" style="text-align: center">
                <a class="header-link  link--manko" href="" style="text-align: center">Events</a>
            </div>
        </header>
        <div class="container-fluid buttons" style="width: 100%">
            <div class="button-group filter-button-group">
                <div class="row center-block ">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter="*">all</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".flagship">flagship</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".music">music</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".literature">literature</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".lifestyle">lifestyle</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".arts">arts</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".online">online</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".dance">dance</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".design">design</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".fun">fun</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".quizzes">quizzes</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".theatre">theatre</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid isotope-grid" style="width: 100%">
            <div class="center-block">
                <div class="grid-item-parent grid cs-style-3 ">
                    {% for id in events %}
                    <div class="grid-item {{events[id].categories}}">
                        <figure>
                            <img src="../static/img/events/{{ events[id]['event-id'] }}.jpg"
                                 alt="{{events[id]['name']}} at Odyssey">
                            <figcaption>
                                <h3>{{events[id]['name']}}</h3>
                                <a href="/events/{{events[id]['event-id']}}">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script>
        $("body").append(`<div id="egg" style="display:none; position:fixed;top:0;left:0;right:0;bottom:0;background: rgba(0,0,0,0.8); font-size:3em; color:whitesmoke; font-weight:300;text-align:center"><br><span>Teh Devs :</span><br><br><div id="egg-holder" style="line-height: 0.6"><script src="//platform.linkedin.com/in.js" type="text/javascript"><\/script><script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/peeyush-kushwaha-a83a23a7" data-format="inline" data-related="false"><\/script><br><br><script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/1siddharthyadav" data-format="inline" data-related="false"><\/script></div></div>`)
        $("#egg").on('click', function () {$("#egg").hide()})
        function f1 (keys){var nextKey = 0;return function (e) {var key = e.which;if (key === keys[nextKey]) {nextKey++;}else {nextKey = 0}if(nextKey == keys.length) {f2(); nextKey = 0;}}}
        function f2 () {$("#egg").show()}
        $(window).keydown(f1([83, 87, 65, 71, 71]));
        $(window).keydown(f1([38, 38, 40, 40, 37, 39, 37, 39, 66, 65]));
        var $grid = $('.grid-item-parent').isotope({
            // options
            itemSelector: '.grid-item',
            layoutMode: 'fitRows',
            stagger: 30
        });
        $grid.isotope('shuffle');
        $grid.isotope({filter: '.theatre'});
        $grid.isotope({filter: '.flagship'});
        $grid.isotope({filter: '.quizzes'});
        $grid.isotope({filter: '.fun'});
        $grid.isotope({filter: '.music'});
        $grid.isotope({filter: '.literature'});
        $grid.isotope({filter: '.games'});
        $grid.isotope({filter: '.lifestyle'});
        $grid.isotope({filter: '.design'});
        $grid.isotope({filter: '.arts'});
        $grid.isotope({filter: '.online'});
        $grid.isotope({filter: '.dance'});
        $grid.isotope({filter: '*'});
        
        $('.filter-button-group').on('click', 'button', function () {
            var filterValue = $(this).attr('data-filter');
            $grid.isotope({filter: filterValue});
        });
        
        $(window).resize(function () {
            $grid.isotope('reloadItems')
        });
        window.addEventListener("keyup", function (e) {
            if (e.keyCode == 27) window.location = "http://odyssey.iiitd.edu.in/";
        }, false);
    </script>
    <script src="{{ url_for('static', filename='js/toucheffects.js') }}"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        
        ga('create', 'UA-90355797-1', 'auto');
        ga('send', 'pageview');
        
    </script>
    <script type="application/ld+json">
        {
        "@context": "http://www.schema.org",
        "@type": "WebSite",
        "name": "Odyssey",
        "alternateName": "Odyssey IIIT D",
        "url": "http://odyssey.iiitd.edu.in/",
         "keywords":"Odyssey, Odyssey IIIT D, Odyssey IIITD, Odyssey IIIT, Cultural fest of IIIT D, Cultral fest in Delhi"
        }
    </script>
    <script type="application/ld+json">
        {
        "@context": "http://www.schema.org",
                "@type": "Festival",
                "name": "Odyssey",
                "@id": "http://odyssey.iiitd.edu.in/",
                "url": "http://odyssey.iiitd.edu.in/",
                "sameAs": [
            "https://www.facebook.com/odyssey.iiitd/",
            "https://plus.google.com/104900525075222914073",
            "https://twitter.com/IIITDOdyssey",
            "https://www.instagram.com/iiitdodyssey/",
            "https://www.youtube.com/user/odysseyiiitd"
        ],
          "startDate": "2017-03-24T08:00",
        "endDate": "2017-03-25T23:59",
                "description": "The word Odyssey comes from the Greek Odysseia, name of the Homeric epic poem of ancient Greece relating to the 10 year adventurous journey of Odysseus. True to it’s meaning, the theme for Odyssey’17 is ‘Around the world in two days’ - a one of it’s kind journey across the seven seas, seven continents and seven heavens in two days - with just one destination.\n\nTalent remains latent unless the individual possessing it takes off on a journey to give wings to their dreams. Our vision is to have Odyssey’17 serve as a platform for those aspiring to turn their visions into tangible reality.",
                "location": {
            "@type": "Place",
                    "name": "IIIT D",
                    "alternateName": "IIIT Delhi",
                    "sameAs": "https://www.iiitd.ac.in/",
                    "address": {
                "@type": "PostalAddress",
                        "streetAddress": " Indraprastha Institute of Information Technology, Okhla Industrial Estate, Phase III, (Near Govindpuri Metro Station) New Delhi, India",
                        "addressLocality": "New Delhi",
                        "addressRegion": "Delhi",
                        "postalCode": "110020",
                        "addressCountry": "India"
            }
        },
        "typicalAgeRange": "15-30",
                "offers": {
            "@type": "Offer",
                    "description": "Event Ticket",
                    "url": "https://goo.gl/forms/TnvdluxSpQm54LLw2",
                    "price": "0"
        }
        }
    </script>
</html>