<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 25 Jan 2017 11:59:01 GMT">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="@gureks, @geekSiddharth, @peey">
    <!-- Twitter Cards -->
    <meta name="twitter:card" content=" Workshop by Bobby Joshi - Odyssey'17 | IIIT Delhi">
    <meta name="twitter:site" content="@IIITDOdyssey">
    <!--Open Graph-->
    <meta property="og:title" content=" Workshop by Bobby Joshi - Odyssey'17 | IIIT Delhi"/>
    <meta property="og:url" content="http://odyssey.iiitd.edu.in/events/bobby"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Photography & Post-processing workshop by Bobby Joshi.  The cultural fest of IIIT Delhi, Odyssey '17, in collaboration with Mr. Bobby Joshi, one of India's finest travel photographers is organising a photography workshop.
                    "/>
    <meta property="og:image" content="http://odyssey.iiitd.edu.in/static/img/bobby.jpg">
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title> Nirvana Night - Odyssey'17 | IIIT Delhi</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/one-event.css" rel="stylesheet">
</head>
<body>
<a href="/" class="closeC"><img src="../static/img/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow-x: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="../static/img/bobby.jpg" class="cover" width="100%"
                         height="auto">
                    <h1 style="font-size: 250%;">
                        Workshop by Bobby Joshi
                    </h1>
                    <p class="tagline" style="font-size: 150%">
                        Photography & Post-processing workshop by Bobby Joshi
                    </p>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/events/389543221403544/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="https://bit.ly/BobbyJoshiIIITD">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    Description
                </div>
                <div class="card-text">
                    The cultural fest of IIIT Delhi, Odyssey '17, in collaboration with Mr. Bobby Joshi, one of India's
                    finest travel photographers is organising a photography workshop.
                    <br>
                    <br>
                    The 5-hour workshop will be divided into two parts: Photography techniques(Basics, Intermediate) and
                    Post processing. The first part will include the following agenda:
                    <br>
                    <ul>
                        <li> Rule of Thirds and tenths</li>
                        <li> Light controlling</li>
                        <li> Image construction</li>
                        <li> Light control</li>
                        <li> The triangle</li>
                        <li> Travel photo tour planning, and many more</li>
                    </ul>
                    <br>
                    The post processing part will consist of techniques like Light enhancement, Depth creation, Exposure
                    blend, Dark and Rich mood and 16-bit photography. There a lot more things lined up in this workshop.
                    It will be highly interactive and will have in-class sessions.

                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Cost
                </div>
                <div class="card-text">

                    We would also like to inform you that we have only 200 seats available. <br><br>
                    <ul>
                        <li> Early Birds (first 90 applicants) - INR 1200/- (Latest till March 12, 11:59 PM)</li>
                        <li> Others - INR 1500/- (Last date to register is March 16, 11:59 PM)</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contacts
                </div>
                <div class="card-text">
                    <ul>
                        <li>
                            Palaksh Pathak (8527440254)
                        </li>
                        <li>
                            Siddhant Verma (9711013103)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>window.addEventListener("keyup", function (e) {
    if (e.keyCode == 27) window.location = "http://odyssey.iiitd.edu.in/events/";
    ;
}, false);</script>
<script type="application/ld+json">
			{
			"@context": "http://www.schema.org",
			"@type": "WebSite",
			"name": "Odyssey",
			"alternateName": "Odyssey IIIT D",
			"url": "http://odyssey.iiitd.edu.in/",
			 "keywords":"Odyssey, Odyssey IIIT D, Odyssey IIITD, Odyssey IIIT, Cultural fest of IIIT D, Cultral fest in Delhi",
			 "sameAs": [
				"https://www.facebook.com/odyssey.iiitd/",
				"https://plus.google.com/104900525075222914073",
				"https://twitter.com/IIITDOdyssey",
				"https://www.instagram.com/iiitdodyssey/",
				"https://www.youtube.com/channel/UCO-faubxbzjAqka5Po5IgmQ"
			],
			"description": "Odyssey is IIITD’s cultural festival that provides a platform for talent and competition in various fields. This year, with the theme of “Around the world in two days”, Odyssey will  will host several unique events in a wide array of categories, including Dance, Music, Theatre, and Digital Arts."
			}




</script>
<script type="application/ld+json">
			{
			"@context": "http://www.schema.org",
					"@type": "Event",
					"name": "Photography & Post-processing workshop by Bobby Joshi",
					"@id": "http://odyssey.iiitd.edu.in/bobby",
					"url": "http://odyssey.iiitd.edu.in/events/bobby",
                    "image":"http://odyssey.iiitd.edu.in/static/img/bobby.jpg,
					"sameAs": [
				"https://www.facebook.com/events/389543221403544/"
			],
            "superEvent" : {
            "@type":"Festival",
            "name":"Odyssey",
            "@id":"http://odyssey.iiitd.edu.in/",
            "url":"http://odyssey.iiitd.edu.in/",
            "location": {
				"@type": "Place",
						"name": "IIIT D",
						"alternateName": "IIIT Delhi",
						"sameAs": "https://www.iiitd.ac.in/",
						"address": {
					"@type": "PostalAddress",
							"streetAddress": " Indraprastha Institute of Information Technology, Okhla Industrial Estate, Phase III, (Near Govindpuri Metro Station) New Delhi, India",
							"addressLocality": "New Delhi",
							"addressRegion": "Delhi",
							"postalCode": "110020",
							"addressCountry": "India"
				}
			},
             "startDate": "2017-03-24T08:00",
			"endDate": "2017-03-25T23:59"
            },
			  "startDate": "2017-03-18T10:00",
			"endDate": "2017-03-18T16:00",
					"description": " The cultural fest of IIIT Delhi, Odyssey '17, in collaboration with Mr. Bobby Joshi, one of India's finest travel photographers is organising a photography workshop.
                  ",
					"location": {
				"@type": "Place",
						"name": "IIIT D",
						"alternateName": "IIIT Delhi",
						"sameAs": "https://www.iiitd.ac.in/",
						"address": {
					"@type": "PostalAddress",
							"streetAddress": " Indraprastha Institute of Information Technology, Okhla Industrial Estate, Phase III, (Near Govindpuri Metro Station) New Delhi, India",
							"addressLocality": "New Delhi",
							"addressRegion": "Delhi",
							"postalCode": "110020",
							"addressCountry": "India"
				}
			},
			"typicalAgeRange": "15-30",
					"offers": {
				"@type": "Offer",
						"description": "Event Ticket",
                        "priceCurrency": "INR",
                        "availability": "http://schema.org/LimitedAvailability",
						"url": "https://docs.google.com/forms/d/e/1FAIpQLSfPh6Q8rfRPxbVp2MdUr2pz_8blxlRoSqMN1qTGUQTVPL4Ynw/viewform",
						"price": "1200"
			}
			}




</script>
</html>
